.form-block-book, .form-block-site, .form-block-kalendar, .form-block-reklama {
    height: 530px;
    overflow: hidden;
    margin: 50px 0;
}
#post-3301 .et_pb_all_tabs {
    background-color: #3EA4EF;
    height: 1060px;
    color: #fff;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}
#post-3301 .et_pb_all_tabs .next, .first {
    height: 470px;
    padding-top: 60px;
}
.col-md-4 {
    width: 211px;
    float: left;
    margin: 0 30px 30px 30px;
}
.md-offset-90 {
    margin-left: 110px;
}
input[type=text].selectf {
    width: 210px;
    height: 36px;
    border-radius: 5px;
    padding: 0 0 0 45px;
    border: none;
}
.jq-selectbox__select-text {
    background-image: url(../img/select-view.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 40px;
    height: 36px;
}
.jq-selectbox__select {
    height: 36px !important;
}
.jq-selectbox {
    width: 210px;
    height: 36px;
    border-radius: 5px;
}
.arrows {
    background-image: url(../img/input-format.png);
    background-repeat: no-repeat;
    background-position: 10px 3px;
    padding-left: 45px;
}
.tel {
    background-image: url(../img/input-col.png);
    background-repeat: no-repeat;
    background-position: 10px 3px;
}
.check input {
    float: left;
    margin-right: 10px;
}
.check {
    margin: 20px 0;
}
.col-md-4 p {
    padding: 0 20% 0 5px;
    font-weight: 700;
}
#post-3301 .btn-form {
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 65px;
    line-height: 65px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    clear: both;
    float: none;
}
.jq-checkbox.checked .jq-checkbox__div {
    background: #fff;
    background-image: url(../img/checkbox.png);
    box-shadow: none;
}
.contact {
    width: 465px;
    margin: 0 auto;
}
.contact input {
    margin: 40px 10px 0 10px;
}
.contact .bl-centr {
        margin: 40px auto;
    display: block;
}
.next h1, p, .first h1, p {
    color: #fff;
    text-align: center;
}
.phone {
    background-image: url(../img/plane.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;
}
.address {
    background-image: url(../img/planet.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
}
.name {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
}
.contact-site {
    width: 212px;
    margin: 0 auto;
}
.contact-site input {
    margin: 30px 0;
}